@charset "utf-8";
/* CSS Reset */
::-webkit-input-placeholder { /* WebKit browsers */
  color: #bdbdbd;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #bdbdbd;
}
body{
  margin: 0;
  padding: 0;
}

image {
  width: 100%;
  vertical-align: top
}
.h4{
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /*font-weight: bold;*/
}
.p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.tAc {
  text-align: center
}

.tAr {
  text-align: right
}

.fs12{
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}
.fs16{
  font-size: 16px;
}
.fs17{
  font-size: 17px;
}
.fs18{
  font-size: 18px;
}
.fcgrey {
  color: #999
}

.fcred {
  color: #ff4444
}

.fcblue {
  color: #1b84f4
}
.fcblack {
  color: #000;
}
.fcjred {
  color: #a4120f;
}
.mt15 {
  margin-top: 15px;
}

/*----通用----*/
page {
  height: auto;
  overflow-x: hidden;
}

page {
  background: #f5f5f5;
}

.wrapper {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
}

.cont {
  background: none;
  box-sizing: border-box;
  /*padding: 20px 0;*/
  margin-bottom: 20px;
}

.cont .weui-cells__title {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  font-weight: 600;
}

.cont .title {
  margin-bottom: .3em;
  padding-left: 15px;
  padding-right: 15px;
}

.cont .weui-cell {
  padding: 10px 26px;
}

.cont .weui-cell:before {
  left: 26px;
}

.cont .weui-label {
  width: 90px;
}

.cont .weui-cells:before, .cont .weui-cells:after,
.chNum .weui-grids:before, .chNum .weui-grids:after,
.chNum .weui-grid:before, .chNum .weui-grid:after,
.cont02 .weui-panel:before, .cont02 .weui-panel:after,
.login .weui-cells:before, .login .weui-cells:after,
.login .weui-cell:before, .login .weui-cell:after,
.useCont .weui-grids:before, .useCont .weui-grids:after,
.useCont .weui-grid:before, .useCont .weui-grid:after {
  border: none
}

.cont02 {
  width: 96%;
  margin: 15px auto 0;
  border-radius: 5px;
  padding: 10px 0
}

.cont02 .weui-panel {
  margin-top: 0
}

.cont02 .weui-media-box_text .weui-media-box__title, .cont02 .weui-cells__title {
  margin-bottom: 0
}

.cont02 .weui-cell {
  padding: 10px 15px;
}
.chNum{
  position: relative;
}
.chNum{
  padding: 10px;
  overflow: auto;
}

.chNum .chNum-grid {
  background: none;
  display: inline-block;
  padding:5px 5px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.chNum .chNum-grid.curr {
  border: 1px solid #ff4444;
  color: #ff4444;
}

.chNum .weui-flex {
  padding: 4% 2% 2%;
}

.chNum .weui-flex__item {
  width: 48%;
  height: 12.2%;
  margin: 0 1%;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
  text-align: center;
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/card_bg.png) no-repeat;*/
  background-size: 100% 100%;
  position: relative;
}

.chNum .weui-flex__item.curr {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/card_bg_curr.png) no-repeat;*/
  background-size: 100%;
}

/*.card_n{ width:100%;text-align:center; position:absolute; top: 30%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%); }*/
/*.card_c{ width:100%;text-align:center; color:#fff; position:absolute; bottom: 20%;left: 50%;-webkit-transform: translate(-50%, 50%);transform: translate(-50%, 50%);}*/
.chNum .weui-flex__item.ccgray {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/card_bg_gray.png) no-repeat;*/
  background-size: 100%;
  pointer-events: none;
}
.dia_cont{
  padding: 10px;
  border-top: 1rpx solid #dfdfdf;
}
.dia_cont_cell{
  display: flex;
}
.dia_cont_cell_l,
.dia_cont_cell_r{
  width: 50%;
}
.dia_cont_cell_r .des_btn{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.dia_cont_cell_r .add_btn{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dia_cont_cell_r .des_btn,
.dia_cont_cell_r .add_btn{
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1rpx solid #D9D9D9;
  background: #f8f8f8;
  padding: 2px;
  text-align: center;
  line-height: 25px;
}
.dia_cont_cell_l .required:before{
  content: '*';
  font-size: 12px;
  color: red;
}
.dia_cont_cell_r{
  /*text-align: right;*/
}
.dia_cont_cell_r .count_box{
  border-top: 1rpx solid #dfdfdf;
  border-bottom: 1rpx solid #dfdfdf;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 2px;
  line-height: 29px;
  text-align: center;
}
.dia_cont_cell_r .take_pic{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: right;
  background:url(https://st3.ahlt10010.com/fenxiao-web-api/imgs/icon_camera.png) no-repeat;
  /*background-size: 100%;*/
  vertical-align:middle;
}
.dia_cont_cell_r .select_pic{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: right;
  background:url(https://st3.ahlt10010.com/fenxiao-web-api/imgs/icon_pic.png) no-repeat;
  /*background-size: 100%;*/
  vertical-align:middle;
}
.pic_btn_box{
  border:1rpx solid #D9D9D9;
  border-radius:5px;
  text-align:center;
  display:inline-block;
  padding:0 5px;
}
/*.btn4{ background:url(https://www.mini189.cn/imgextra/applets/img/yiss/card_bg.png) no-repeat; background-size:100%; position:relative}*/
/*.btn4.curr{background:url(https://www.mini189.cn/imgextra/applets/img/yiss/card_bg_curr.png) no-repeat; background-size:100%;}*/

.useCont .weui-grids {
  padding: 0 2%;
}

.useCont .weui-grid {
  background: none;
  width: 90px;
  margin: 2%;
  padding: 10px 10px 0 10px;
  border: 1rpx solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.useCont .weui-grid__icon {
  width: 30px;
  height: 23px;
}

.uploader .weui-uploader__bd {
  margin: auto
}

.uploader .weui-uploader__input-box {
  width: 100%;
  height: auto;
  border: none;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.uploader .weui-uploader__input-box image {
  width: 100%;
  height: 100%;
}

.uploader .weui-uploader__input-box:after, .weui-uploader__input-box:before {
  background: none
}

.inpsty {
  background: #ebebeb;
  padding: 0 10rpx;
  line-height: 30rpx;
  height: 30rpx;
  border-radius: 5rpx;
}

.btnCont {
  width: 90%;
  margin: 20px auto
}

.btn01 {
  background: #fff;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  padding: 14px;
  border: 1px solid #ccc;
  /*margin: 0 15px;*/
}

.btn02 {
  background: #56c06e;
  border-radius: 5px;
  line-height: 34px;
  height: 34px;
  margin-left: 10px;
  font-size: 15px;
}

.btn03 {
  background: #56c06e
}

.icon_IDC {
  width: 20px;
  height: 23.8px;
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/icon_IDC.png) no-repeat;*/
  background-size: 100%;
  display: inline-block
}

.weui-cells_radio .weui-check + .weui-icon-checked {
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 50%;
}

.weui-cells_radio .weui-check:checked + .weui-icon-checked:before {
  display: block;
  content: "\EA08";
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: #31bea1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 0;
}

.sum {
  font-size: 13px;
  position: absolute;
  right: 15px;
  top: 6px;
}

.chBank {
  width: 90%;
  margin: 0 auto;
  display: none
}

.chBank .weui-cells {
  margin-top: 0;
  background: #f0fdfa;
  font-size: 15px;
}

.chBank .weui-label {
  width: 80px
}

.chBank .msg {
  padding: 10px;
  font-size: 12px;
}

.chBank .msg p {
  margin-bottom: 6px;
}

.login {
  width: 90%;
  margin: 0 auto 6px;
  border: 1rpx solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
}

.login .weui-cells {
  border-radius: 5px;
}

.login .weui-cell {
  padding: 10px;
  font-size: 15px;
}

.login .ava {
  width: 40px;
  height: 40px;
  border-radius: 50%
}

/*--滚动--*/
.swiper1 {
  width: 100%;
  max-width: 750px;
  height: 12rem;
  /*margin: 0 -5px;*/
  /*padding: 3% 0;*/
  background: #fff;
}

.swiper1 .swiper-wrapper {
  width: 93%;
  margin: 0 auto;
  float: left
}

.swiper1 .swiper-slide {
  width: 95%;
  margin-right: 10px;
}

.swiper1 .swiper-slide image {
  border-radius: 6px;
}

.swiper1 .swiper-pagination {
  text-align: center;
  padding: 10px;
  margin-top: 4px;
}

.swiper1 .swiper-pagination-bullet-active {
  background: #333
}

.icon-box {
  width: 40%;
  margin: 100px auto 10px;
  text-align: center
}

.icon-box__ctn {
  width: 90%;
  margin: 20px auto;
  text-align: center
}

/*.weui-dialog .weui-dialog__hd {*/
/*  background: #56c06e;*/
/*  color: #fff;*/
/*}*/

.weui-dialog__ft:after, .weui-dialog .weui-dialog__btn + .weui-dialog__btn:after, .weui-toast .weui-dialog__btn + .weui-dialog__btn:after {
  border: none;
}

/*.weui-dialog__ft {*/
/*  padding: 0 6px 6px;*/
/*}*/

.uploader-box {
  width: 140px;
  height: 72.430px;
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/upl_05.jpg) no-repeat;*/
  background-size: 100%;
  margin: 20px auto;
  overflow: hidden;
  position: relative
}

/*.weui-dialog__btn {*/
/*  box-sizing: border-box;*/
/*  border-radius: 5px;*/
/*  margin: 6px;*/
/*  color: #fff;*/
/*}*/

.btn_default {
  background: #ccc;
  color: #fff;
}

.show {
  display: block;
}

.unShow {
  display: none;
}

.dialog-rname {
  overflow: visible;
  padding: 120px 20px 20px 20px;
  box-sizing: border-box;
}

.dialog-rnameIcon {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -60px;
  z-index: 2000;
}

.dialog-cont {
  text-align: left;
  font-size: 16px;
}

.bgblue {
  background: #4386fb
}

.loadCont {
  width: 200px;
  height: 200px;
  margin: 100px auto 20px;
  position: relative;
}

.loading_text {
  padding: 10px;
  text-align: center;
}

.loading_01 {
  width: 80px;
  position: absolute;
  left: 0;
  bottom: 0
}

.loading_02 {
  width: 80px;
  position: absolute;
  right: 0;
  bottom: 0
}

.loading_03 {
  width: 70px;
  position: absolute;
  right: 30%;
  top: 30%;
  margin: -30px -30px;
}

.loading_04 {
  width: 60px;
  position: absolute;
  right: 60%;
  top: 50%;
  margin: -30px -30px;
}

.loading_05 {
  width: 66px;
  position: absolute;
  right: 50%;
  bottom: 16%;
  margin: -30px -30px;
}

.loading_03, .loading_04, .loading_05 {
  -webkit-animation: rotate 3s linear 0s infinite;
  animation: rotate 3s linear 0s infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.progress {
  margin: 20px 40px 40px;
  height: 1px;
  border-top: 2px dotted #ccc;
  position: relative
}

.progress__step {
  width: 80px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #ccc;
  z-index: 100
}

.progress__step01 {
  position: absolute;
  top: -23px;
  left: -30px;
}

.progress__step02 {
  position: absolute;
  top: -23px;
  left: 50%;
  margin-left: -40px;
}

.progress__step03 {
  position: absolute;
  top: -23px;
  right: -30px;
}

.progress__step.curr {
  color: #56c06e;
}

.progress__Num {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #cccccc;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin: 6px auto;
  display:block;

}

.progress__Num.curr {
  background: #56c06e;
  color: #56c06e;
  color: #fff
}

.progress__line {
  width: 50%;
  height: 1px;
  border-top: 2px solid #56c06e;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 0
}

.progress__line_all {
  width: 100%;
}

.weui-tab {
  height: auto
}

.search {
  height: 30px;
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: border-box;
  margin: 10px;
  overflow:hidden;
}

.weui-search-bar:before, .weui-search-bar:after, .weui-search-bar__form:after {
  border: none;
}

.search .weui-search-bar__box {
  background: #efeff4;
}

.tab .swiper-container {
  width: 100%;
  height: 140px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}

.tab .weui-tab__bd {
  height: auto;
  margin-top: 140px;
}

.swiper2 .swiper-wrapper {
  height: 85px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.swiper2 .swiper-slide {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.swiper2 .weui-navbar__item {
  width: 75px;
  /*height: 40px;*/
  margin: 6px;
  padding: 45px 0 6px 0;
  border: 1px solid #eee;
  border-radius: 5px;
  webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  display: block;
}

/*.swiper2 .weui-navbar__item:after {*/
/*border: none*/
/*}*/

.swiper2 .weui-bar__item--on {
  border: 1px solid #56c06e;
  color: #56c06e;
  background-color: #fff;
}

.tab_nav_icon01 {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_01.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

.tab_nav_icon01.curr {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_01_g.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

.tab_nav_icon02 {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_02.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

.tab_nav_icon02.curr {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_02_g.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

.tab_nav_icon03 {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_03.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

.tab_nav_icon03.curr {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_03_g.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

.tab_nav_icon04 {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_04.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

.tab_nav_icon04.curr {
  /*background: url(https://www.mini189.cn/imgextra/applets/img/yiss/tab_04_g.png) no-repeat center 6px;*/
  background-size: 40px 34px;
}

/*.tab_nav_icons{ width:40px; height:34.2px; background:url(../images/tabs.png) no-repeat; margin:4px auto 0; display:block;}
.tab_nav_icon01{ background-position:0 0;background-size:200%;}
.tab_nav_icon02{ background-position:0 -34.2px;background-size:200%;}
.tab_nav_icon03{ background-position:0 -66px;background-size:200%;}
.tab_nav_icon04{ background-position:0 -102.6;background-size:200%;}
.tab_nav_icon01.curr{ background-position:-40px 0;background-size:200%;}
.tab_nav_icon02.curr{ background-position:-40px -34.2px;background-size:200%;}
.tab_nav_icon03.curr{ background-position:-40px -66px;background-size:200%;}
.tab_nav_icon04.curr{ background-position:-40px -102.6;background-size:200%;}*/

.weui-media-box_appmsg .weui-media-box__hd {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.info__meta {
  font-size: 17px;
  font-weight: 600;
  color: #ff1919
}

.pt {
  width: 60%;
}

.btn_fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.btn04 {
  background: #56c06e;
  border-radius: 0;
}

.btn05 {
  margin: 0 10px;
  font-size: 15px;
  line-height: 40px;
  background: #fff;
}

.btn05.curr {
  border: 1px solid #56c06e;
  color: #56c06e
}

.btn06 {
  margin: 10px;
  font-size: 15px;
  line-height: 40px;
  background: #56c06e;
  border-radius: 20px;
}

.dialog_botm {
  width: 100%;
  max-width: 750px;
  border-radius: 10px 10px 0 0;
  text-align: left;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  bottom: 0;
  top: inherit;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  z-index: 100;
  line-height:20px;
}

.w70 {
  width: 70px;
}

#b_tx {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.ardown{content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  margin:2px 6px;}
.arup{content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  margin:2px 6px;}
.payment{ width:90%; margin:10px; border:1rpx solid #d9d9d9;box-sizing: border-box;border-radius:5px; position:relative;}
.payment .arup{ position:absolute;top:-6px; left:80px; background:#FFF;border-width: 1px 1px 0 0;height: 10px; width: 10px;}
.payment .weui-form-preview:before,.payment .weui-form-preview:after{ border:none}
.payment .weui-form-preview{border-radius:8px;}
.payment .weui-form-preview__hd{ padding:0 15px 6px; }
.payment .weui-form-preview__hd .weui-form-preview__label,.payment .weui-form-preview__hd  .weui-form-preview__value{ font-size:16px; line-height:30px;}

/*.weui-media-box_appmsg .weui-media-box__hd {*/
/*width: 90px;*/
/*height: 90px;*/
/*margin-right: 20px;*/
/*}*/
.my_weui-media-box__bd1{
  width: 30%;
  height: 90px;
  margin-right: 20px;
}
.my_weui-media-box__bd2{
  width: 65%;
  height: 90px;
  margin-right: 20px;
}
.btn07{
  background:#808080;
  color:#ffffff;
  padding:0 10px;
  border-radius:0;
  font-size:15px;

}
.fcgreen{
  color: #09c764;
}
.btn08{
  background-color: #4699f8;
}


/*首页*/
.index_title_bg{
  position: relative;
}
.index_title_box{
  margin-bottom: 15px;
}
.index_title{
  position:absolute;
  color:#ffffff;
  font-size:18px;
  margin-top:-32px;
  margin-left:120px;
  font-weight:bold;
}
.index_list_box{
  padding: 0 10px;
}
.index_list{
  width:96%;
  margin:0 auto 10px;
  border-radius:5px;
  padding:20px 5px 10px 5px;
  box-shadow:1px 1px 10px #ccc;
  display:flex;
  justify-content:left;
  background:#ffffff;
  align-items:center;
  margin-bottom:20px;
}
.index_list_pink{
  background: #fdebe8;
}
.index_list_l{
  width: 30%;
  margin-right: 5px;
}
.index_list_r{
  width: 63%;
  padding: 10px 0;
}
.index_list_r_item_box{
  border: 1px dashed #a4120f;
  position: relative;
}

.index_list_r_item{
  text-align: center;
  vertical-align: middle;
  white-space:nowrap;
  overflow:hidden;
  text-overflow : ellipsis;
}
.r_item_text{
  display: block;
  text-align: center;
  vertical-align: middle;
  white-space:nowrap;
  overflow:hidden;
  text-overflow : ellipsis;
  padding: 0 3px;
}
.btn09{
  display: inline-block;
  width: 100px;
  height: 35px;
  background: url(https://st3.ahlt10010.com/fenxiao-web-api/imgs/btn_buy.png) no-repeat;
  background-size: 100%;
}
.btn10{
  display: inline-block;
  width: 70px;
  height: 25px;
  background: url(https://st3.ahlt10010.com/fenxiao-web-api/imgs/btn_go.png) no-repeat;
  background-size: 100%;
  margin-top: 0;
}
.btn11{
  display:inline-block;
  width:75px;
  height:25px;
  color:#ffffff;
  background:#ff4444;
  border-radius:20px;
  margin-top:0;
  line-height:25px;
  font-size:15px
}
.btn12{
  background: #ff4444;
  color: #ffffff;
}
.btn13{
  /*background: #eee;*/
  color: #999;
  padding: 1px 10px;
  border: 1rpx solid #D9D9D9;
  border-radius: 20px;
  font-size: 14px;
}
.btn13.curr{
  color: #ff4444;
  border: 1rpx solid #ff4444;
}
.btn14{
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #D9D9D9;
  color: #000;
  font-size: 15px;
  border-radius: 5px;
}
.btn15{
  display: inline-block;
  padding: 3px 10px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  background: #09c764;
}
.btn16{
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #09c764;
  font-size: 13px;
  border-radius: 5px;
  background: none;
  color: #09c764;
  white-space:nowrap;
}
.btn17{
  background: #e7552e;
  color: #f6da93;
  border-radius: 20px;
  width: 90%;
  margin: auto;
}
.btn_primary{
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}
.index_menu_box{
  display: flex;
  justify-content: space-between;
  padding:0 15px;
}
.index_menu_item{
  width: 18%;
}
/*宽带专区列表2*/
.gx_bottom_list_box{
  width:96%;
  margin:0 auto;
  border-radius:5px;
  display:flex;
  justify-content:left;
  padding: 0 10px;
}
.gx_bottom_list{
  width: 45%;
  border: 1px solid #a4120f;
  border-radius: 20px;
  box-shadow:1px 1px 10px #ccc;
  background:#ffffff;
  padding: 10px;
}
.gx_item_bottom{
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  /*text-align: center;*/
  align-items: center;
  padding:0 10px 0 0;
}
/*右边悬浮菜单*/
.fixed_r{
  position: fixed;
  bottom: 100px;
  right: 10px;
}
.fixed_r .icon_item{
  width: 50px;
}
/*商品列表*/
.goods_list{
  width:96%;
  margin:0 auto 10px;
  padding:0 5px;
  display:flex;
  justify-content:left;
  background:#ffffff;
  align-items:center;
  margin-bottom:15px;
}
.r_title{
  /*height: 55px;*/
  /*width: 100%;*/
  font-size: 15px;
  margin-bottom: 5px;
  /*display: block;*/
  /*white-space:nowrap;*/
  /*overflow:hidden;*/
  /*text-overflow : ellipsis;*/
}
.shop_nav_box{
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height:55px;
  align-content:center;
}
.shop_nav_item{
  display: inline-block;
  /*padding: 5px 0;*/
}
.shop_nav_icon{
  background: #ffffff;
  padding: 5px 5px 0 5px;
  color: #999;
  white-space:nowrap;
  display:flex;
  align-items:center;
}
.icon_service,
.icon_cart,
.icon_shop{
  display: inline-block;
  text-align: center;
}
.shop_nav_cart,
.shop_nav_buy{
  color: #ffffff;
  padding: 5px 20px;
  display:flex;
  align-items:center;
}
.shop_nav_cart{
  background-color: #ff8855;
  width: 35%;
  text-align: center;
}
.shop_nav_buy{
  background-color: #ff4444;
  width: 30%;
  text-align: center;
}
.fixed_bootom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
}
.fixed_box{
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.fixed_box .fixed_box_l{
  padding: 0 10px;
  height:100%
}
.fixed_box .fixed_box_l label{
  display: inline-block;
  vertical-align: middle;
}
.fixed_box .fixed_box_l{
  display: inline-block;
  width: 20%;
  line-height:60px;
}
.fixed_box .fixed_box_r{
  display: inline-block;
}
.fixed_box .fixed_box_r{
  text-align: right;
  display: flex;
}
.fixed_box .fixed_box_r .count_text{
  display: flex;
  padding:0 10px;
  flex-direction: column;
  justify-content: center;
}
/*.fixed_box .fixed_box_r .count_text text{*/
/*display: inline-block;*/
/*}*/
.fixed_box .fixed_box_r .count_btn{
  width: 100px;
  color: #ffffff;
  text-align: center;
  background: #ff4444;
  display: flex;
  align-items: center;
}
.flex{
  display: flex;
}
.icon_location{
  display:inline-block;
  width:15px;
  height:25px;
  padding:3px 5px;
}
.cont_title{
  background: #ffffff;
  padding: 10px;
  border-bottom: 1rpx solid #dfdfdf;
  display:flex;
  align-items:center;
}
.cont_title .cont_text{
  display: inline-block;
  margin-left: 5px;
}
.cont_title .icon_shop{
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url(https://st3.ahlt10010.com/fenxiao-web-api/imgs/icon_shop.png) no-repeat;
  background-size: 100%;
}
.cont_title .icon_shop_b{
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url(https://st3.ahlt10010.com/fenxiao-web-api/imgs/icon_shop_black.png) no-repeat;
  background-size: 100%;
}
.cont_title .icon_edit{
  width: 18px;
  height: 18px;
  background: url(https://st3.ahlt10010.com/fenxiao-web-api/imgs/icon_edit.png) no-repeat;
  background-size: 100%;
}
/*解决IOS下input的placehoder显示不完全*/
input{
  width: 13rem;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: .8rem;
  padding-left:5px
}
::-webkit-input-placeholder{
  font-size: .7rem;
  line-height: 1.2rem;
  text-align: center;
}
/* 重写 checkbox 样式 */
/* 未选中的 背景样式 */
checkbox .wx-checkbox-input{
  border-radius: 50%;/* 圆角 */
  width: 40rpx; /* 背景的宽 */
  height: 40rpx; /* 背景的高 */
}
/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
checkbox .wx-checkbox-input.wx-checkbox-input-checked{
  border: 1rpx solid #ff4444;
  background: #ff4444;
}
/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before{
  border-radius: 50%;/* 圆角 */
  width: 40rpx;/* 选中后对勾大小，不要超过背景的尺寸 */
  height: 40rpx;/* 选中后对勾大小，不要超过背景的尺寸 */
  line-height: 40rpx;
  text-align: center;
  font-size:30rpx; /* 对勾大小 30rpx */
  color:#fff; /* 对勾颜色 白色 */
  background: transparent;
  transform:translate(-50%, -50%) scale(1);
  -webkit-transform:translate(-50%, -50%) scale(1);
}
